{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}
{% block monTitre %} Bienvenue sur GoFast{% endblock %}
{% block body %}
<p>Le site de la concession de voiture GoFast
  ce site vous permet de louez des voitures avec un abonnement mensuel
</p>

<h2>Pour accede à la listes des véhicules vous devez vous connectez</h2>
{% endblock %}
